current.vms
logs/
benchmark-logs/benchmark.log
dump.log
**/__pycache__
**/*.pyc
data/
conf/adkg-copy/
*.out
**/.DS_Store
tests/.pytest.log
.dockerignore
conf/adkg/local.13.json
conf/adkg/local.14.json
conf/adkg/local.15.json
drand_n64.log
n128.log
n128b.log
n32.log
n32b.log