current.vms
logs/
benchmark-logs/benchmark.log
dump.log
**/__pycache__
**/*.pyc
data/
conf/adkg-copy/
.DS_Store
DataWinterfell/.DS_Store
*.out
apps/.DS_Store
conf/.DS_Store
honeybadgermpc/.DS_Store
pairing/.DS_Store
tests/.DS_Store
tests/.pytest.log
.dockerignore
conf/adkg/local.13.json
conf/adkg/local.14.json
conf/adkg/local.15.json
drand_n64.log
n128.log
n128b.log
n32.log
n32b.log